<div class="footer-container p-lr">
	<div class="logo-with-imprint">
		<div class="footer-logo" routerLink="/">
			<a href="#intro"><img src="./assets/img/logo.jpeg" alt=""></a>
		</div>

		<a href="#imprint" routerLink="/imprint" class="mobile-hidden-700">
			<p>Imprint</p>
		</a>
	</div>
	<p> © Tobias Heinze 2023</p>
	<div class="footer-link-container">
		<a href=""><img src="./assets/img/github-button.svg" onmouseover="src='./assets/img/github-button-green.svg'"
				onmouseout="src='./assets/img/github-button.svg'" alt=""></a>
		<a href="mailto:mail@tobias-heinze.com"><img src="./assets/img/email-button.svg"
				onmouseover="src='./assets/img/email-button-green.svg'" onmouseout="src='./assets/img/email-button.svg'"
				alt=""></a>
		<a href=""><img src="./assets/img/linkedin-button.svg"
				onmouseover="src='./assets/img/linkedin-button-green.svg'"
				onmouseout="src='./assets/img/linkedin-button.svg'" alt=""></a>
	</div>
	<div class="d-none-700">
		<a href="#imprint" routerLink="/imprint">
			<p>Imprint</p>
		</a>
	</div>


</div>