<div id="aboutMe" class="about-me-container">

	<img class="shadow2-purple" src="./assets/img/shadow2-purple-right.svg" alt="">
	<div class="about-me-text-section p-l">
		<h3>About me</h3>

		<p>
			I'm a Frontend Developer with a strong background in utilizing JavaScript and Angular to craft dynamic web
			applications. Feel free to explore my public portfolio, showcasing a range of projects including responsive
			websites and functional business applications.
		</p>
		<div class="text-with-image">
			<img src="./assets/img/bulb-desktop.svg" alt="">
			<p>
				With a natural inclination toward scientific thinking, I thrive on logical reasoning and structured
				problem-solving.
			</p>
		</div>

		<div class="text-with-image">
			<img src="./assets/img/puzzle-desktop.svg" alt="">
			<p>
				My enthusiasm for coding is palpable, and I'm eagerly anticipating the chance to contribute as a Junior
				Frontend Developer within a collaborative team.
			</p>
		</div>
	</div>

	<div class="small-photo-container">
		<div class="small-photo">
			<img src="./assets/img/small_oBG.png" alt="">
		</div>
		<div class="about-me-line"></div>
	</div>
</div>