<div id="intro" class="intro-container">

	<div class="images-with-text">
		<div class="photo-with-bg">
			<img class="mainPhoto" src="./assets/img/big_oBG.png" alt="">
			<img class="shadowMainPhoto" src="./assets/img/shadow1-photo.svg" alt="">
		</div>

		<div class="intro-text-btn-section">
			<div class="intro-text-section">
				<div class="text-vertical">I am</div>
				<div>
					<h1>Tobias Heinze</h1>
					<h2>FRONTEND DEVELOPER</h2>
				</div>
			</div>
			<div class="btn-container">
				<a class="btn-green" href="#contact">Let's talk!</a>
			</div>
		</div>
		
	</div>

	<div class="connect-container">
		<div class="connect-line"></div>
		<a href=""><img src="./assets/img/github-button.svg" onmouseover="src='./assets/img/github-button-green.svg'"
				onmouseout="src='./assets/img/github-button.svg'" alt=""></a>
		<a href="mailto:mail@tobias-heinze.com"><img src="./assets/img/email-button.svg"
				onmouseover="src='./assets/img/email-button-green.svg'" onmouseout="src='./assets/img/email-button.svg'"
				alt=""></a>
		<a href=""><img src="./assets/img/linkedin-button.svg"
				onmouseover="src='./assets/img/linkedin-button-green.svg'"
				onmouseout="src='./assets/img/linkedin-button.svg'" alt=""></a>
		<div class="mobile-hidden-500">
			<a href="mailto:mail@tobias-heinze.com">mail@tobias-heinze.com</a>
		</div>
	</div>
</div>

<img class="shape-intro mobile-hidden-750" src="./assets/img/shape-intro.png" alt="">
<img class="shape-intro d-none-750" src="./assets/img/shape-intro-mobile.png" alt="">

<div class="relative">
	<app-about-me></app-about-me>
	<app-my-skills></app-my-skills>
	<app-portfolio></app-portfolio>
	<app-contact></app-contact>
	<app-footer></app-footer>
</div>