<div id="skills" class="my-skills-container p-l">

	<img class="shadow3-green" src="assets/img/shadow3-green-left.svg" alt="">

	<div class="skill-btn-container d-none-1100">
		<a class="btn-green" href="#contact">Get in touch</a>
	</div>

	<div class="skill-container">
		<div class="skill-logo-container">
			<div>
				<img src="./assets/img/skills/1_angular-icon.svg" alt="">
				<p>Angular</p>
			</div>

			<div>
				<img src="./assets/img/skills/2_typescript-icon.svg" alt="">
				<p>TypeScript</p>
			</div>

			<div>
				<img src="./assets/img/skills/3_javascript-icon.svg" alt="">
				<p>JavaScript</p>
			</div>

			<div class="mobile-hidden-500">
				<img src="./assets/img/skills/4_html-icon.svg" alt="">
				<p>HTML</p>
			</div>
		</div>

		<div class="skill-logo-container">
			<div>
				<img src="./assets/img/skills/5_firebase-icon.svg" alt="">
				<p>Firebase</p>
			</div>

			<div>
				<img src="./assets/img/skills/6_git-icon.svg" alt="">
				<p>GIT</p>
			</div>

			<div>
				<img src="./assets/img/skills/7_css-icon.svg" alt="">
				<p>CSS</p>
			</div>

			<div class="invisible mobile-hidden-500">
				<img src="./assets/img/skills/4_html-icon.svg" alt="">
				<p>HTML</p>
			</div>
		</div>

		<div class="skill-logo-container">
			<div>
				<img src="./assets/img/skills/8_api-icon.svg" alt="">
				<p>REST-API</p>
			</div>

			<div>
				<img src="./assets/img/skills/9_scrum-icon.svg" alt="">
				<p>Scrum</p>
			</div>

			<div class="invisible">
				<img src="./assets/img/skills/4_html-icon.svg" alt="">
				<p>HTML</p>
			</div>

			<div class="invisible mobile-hidden-500">
				<img src="./assets/img/skills/4_html-icon.svg" alt="">
				<p>HTML</p>
			</div>
		</div>

		<div class="skill-logo-container">
			<div class="mobile-hidden-500">
				<img src="./assets/img/skills/10_material-icon.svg" alt="">
				<p>Material</p>
				<p>Design</p>
			</div>

			<div class="invisible invisible-500">
				<img src="./assets/img/skills/10_material-icon.svg" alt="">
				<p>Material</p>
				<p>Design</p>
			</div>

			<div class="invisible">
				<img src="./assets/img/skills/10_material-icon.svg" alt="">
				<p>Material</p>
				<p>Design</p>
			</div>

			<div class="invisible invisible-500">
				<img src="./assets/img/skills/10_material-icon.svg" alt="">
				<p>Material</p>
				<p>Design</p>
			</div>
		</div>
	</div>

	<div class="skill-btn-section p-r">
		<div class="skill-text-section">
			<div class="skill-text-with-line">
				<h3>My skills</h3>
				<div class="skill-line"></div>
			</div>
			<p>
				I have acquired expertise in constructing projects utilizing a diverse array of front-end technologies
				and principles.</p>
		</div>
		<div class="skill-btn-container mobile-hidden-1100">
			<a class="btn-green" href="#contact">Get in touch</a>
		</div>
	</div>

</div>