.imprint-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.imprint-text {
  padding-top: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
    padding-bottom: 2vw;
  }

  h4 {
    padding-top: 1vw;
  }
}

